.App {
  text-align: center;
}

.App-logo {
  height: 250px;
  pointer-events: none;
  box-shadow: 10px;
  border-radius: 30px;
  background-color: gray;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
/* } */

.title {
  font-style: italic;
  /* background-color: gray; */
  border-radius: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 30px;
  color: black;
}

.discription {
  color: rgb(54, 3, 3);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.product {
  color: rgb(54, 3, 3);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.App-header {
  margin: 40px;
  background-color: #eccae2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 15px;
}

.product {
  margin: 40px;
  background-color: #eccae2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 15px;
}

.App-link {
  color: #192427;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
